body{
    display: flex;
    justify-content: center;
}

.rating {
    display: inline-flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 2px;
    font-size: 2rem;
}

.rating input {
    display: none;
}

.star {
    cursor: pointer;
    font-size: 10rem;
    color: #ddd;
    transition: all 0.2s;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.star:hover,
.star:hover ~ .star,
input:checked ~ .star {
    color: #ffd700;
}

.star:hover {
    transform: scale(1.2);
    rotate: 15deg;
}
